<ion-view view-title="Vehiculo">
  <ion-content>

    <div class="list card" ng-click="carOptions()">
      <div class="item item-image">
        <img src="/img/car.jpg">
      </div>

      <div class="item" >
        Imei1
      </div>
      <div class="item" >
        marca1
      </div>

      <div class="item" >
        modelo1
      </div>

      <div class="item" >
        placa1
      </div>

      <div class="item" >
        color
      </div>

      <div class="item" >
        tlf
      </div>

    </div>

  </ion-content>
</ion-view>
