<ion-view view-title="Historial">
  <ion-content>

  
    <div class="list card">
      <ion-item class="item">
        imei // fecha_hora // dir
      </ion-item>
      <ion-item class="item">
        imei // fecha_hora // dir
      </ion-item>
      <ion-item class="item">
        imei // fecha_hora // dir
      </ion-item>
      <ion-item class="item">
        imei // fecha_hora // dir
      </ion-item>
    </div>

  </ion-content>
</ion-view>
