<ion-view view-title="Inicio">
  <ion-content
    padding="15"
  >
    <h1 class="text-center">Trackr</h1>
    <img src="img/map-logo.png" alt="" class="logo">
    <p class="text-center">Aplicacion para hacer seguimiento inmediato de tus vehiculos</p>
    <a href="#/app/vehiculos" class="button button-block button-positive">Empezar Tracking</a>
  </ion-content>
</ion-view>
