<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar bar-header bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">Trackr</h1>
    </ion-header-bar>

    <ion-content>
      <ion-list>

        <ion-item menu-close ng-click="login()" class="item-icon-left">
          <i class="icon ion-person"></i>  Login
        </ion-item>

        <ion-item menu-close href="#/app/home" class="item-icon-left">
          <i class="icon ion-android-home"></i>  Inicio
        </ion-item>

        <ion-item menu-close href="#/app/vehiculos" class="item-icon-left">
          <i class="icon ion-android-car"></i>  Vehiculos
        </ion-item>

        <ion-item menu-close href="#/app/stats" class="item-icon-left">
          <i class="icon ion-arrow-graph-up-right"></i>  Estadisticas
        </ion-item>

        <ion-item menu-close href="#/app/alerts" class="item-icon-left">
          <i class="icon ion-alert-circled"></i>  Alertas
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
