<ion-view view-title="Vehiculos">
  <ion-content>

  <ion-list>
    <ion-item>
      <a class="item item-thumbnail-left" href="#/app/car/imei1">
        <img src="img/car.jpg">
        <h2>imei1</h2>
        <p>marca1 // modelo1 // placa1</p>
      </a>
    </ion-item>

    <ion-item>
      <a class="item item-thumbnail-left" href="#/app/car/imei2">
        <img src="img/car.jpg">
        <h2>imei2</h2>
        <p>marca2 // modelo2 // placa2</p>
      </a>
    </ion-item>

    <ion-item>
      <a class="item item-thumbnail-left" href="#/app/car/imei3">
        <img src="img/car.jpg">
        <h2>imei3</h2>
        <p>marca3 // modelo2 // placa3</p>
      </a>
    </ion-item>


  </ion-list>
</ion-content>
</ion-view>
